<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>whatsapp clone</title>
    <link rel="stylesheet" href="assets/css/chatlist.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <style>
    .fa-location-arrow {
      font-size: 30px; /* Adjust the size as needed */
      color: #86A7FC;
    }
  </style>
  <body>
    <div class="container1">
      <div class="whatapp_Box">
        <div class="_header"> 
          <div class="top_header_content">
            <h3>Chat List</h3>
          </div>
          <div class="bottom_header_content">
            <h5>Show All</h5>
          </div>
        </div>

        <div class="screen">
          <div class="contact_list">
            <ul  class=" userContactList">
              <li>
                <div class="profile_section">
                  <img
                    src="icons/pngtree-male-avatar-simple-cartoon-design-png-image_1934458.jpg"
                    alt=""
                  />
                </div>
                <div class="contact_section">
                  <h5>Ankit Jangir 2</h5>
                  <small>channel ka link</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <small class="count">14</small>
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img2.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>Aman</h5>
                  <small>Lorem ipsum dolor sit</small>
                </div>
                <div class="msg_counter">
                  <small class="time">11:00 am</small>
                  <!-- <small class="count">44</small> -->
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img3.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>anish yadav</h5>
                  <small>Lorem ipsum dolor sit amet consectetur</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <!-- <small class="count">44</small> -->
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img4.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>mitali</h5>
                  <small>Lorem ipsum dolor sit amet consectetur</small>
                </div>
                <div class="msg_counter">
                  <small class="time">11:09 am</small>
                  <small class="count">69</small>
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img5.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>avni singh</h5>
                  <small>quod quos ducimus libero. Voluptate!</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <small class="count">44</small>
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img6.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>rohan</h5>
                  <small>quod quos ducimus libero. Voluptate!</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <!-- <small class="count">44</small> -->
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img7.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>harry</h5>
                  <small>quod quos ducimus libero. Voluptate!</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <!-- <small class="count">44</small> -->
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img8.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>akhil</h5>
                  <small>quod quos ducimus libero. Voluptate!</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <!-- <small class="count">44</small> -->
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img9.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>amit singh</h5>
                  <small>quod quos ducimus libero. Voluptate!</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <!-- <small class="count">44</small> -->
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img10.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>farhan</h5>
                  <small>quod quos ducimus libero. Voluptate!</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <small class="count">44</small>
                </div>
              </li>
              <li>
                <div class="profile_section">
                  <img src="icons/img11.png" alt="" />
                </div>
                <div class="contact_section">
                  <h5>rahul jangir</h5>
                  <small>quod quos ducimus libero. Voluptate!</small>
                </div>
                <div class="msg_counter">
                  <small class="time">10:00 am</small>
                  <small class="count">44</small>
                </div>
              </li>
            </ul>

          </div>

        </div>
        <div class="contact_chat_area">
          <div class="header_contact">
            <div class="profile_contact">
              <i class="fa fa-arrow-left "></i>
              
            </div>
            <div class="contact_name ">
              <img src="icons/img8.png" alt="">
              <div style="margin-left: 10px;">
                <h5>Ankit Jangir</h5>
                <small>online</small>
              </div>
              
            </div>
            <div></div>
          </div>
          <div class="chat_screen">
            <div class="chat_">
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sapiente deleniti earum commodi quod quae explicabo maxime? Molestiae excepturi ipsum labore at, asperiores doloremque quidem vitae alias maiores repellendus beatae.</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
              <p class="left_chat">this is the left chat</p>
              <p class="right_chat">this is the right chat</p>
            </div>
          </div>

           <div class="input_">
            <button type="button" class="btn btn-success"><i class=""></i></button>
            <input type="text" placeholder="Message">
           <!-- <div class="more_icons">
              
               <i class="fa fa-location-arrow" aria-hidden="true"></i>
               <i class="fa fa-camera" aria-hidden="true"></i>
            </div>  -->
            <div class="more_icons">
              <i class="fa fa-location-arrow "></i>
            </div>
          </div> 
        </div>
      </div>
    </div>

    <script src="assets/js/chatlist.js"></script>
  </body>
</html>