<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="navbar">
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->
            <a href="#" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/assets/images/pj-logo.jpg" alt="" height="50" width="100">
            </span>
                <span class="logo-lg">
                <img src="/assets/images/pj-logo.jpg" alt="" height="50" width="100">
            </span>
            </a>
            <!-- Light Logo-->
            <a href="#" class="logo logo-light">
            <span class="logo-sm">
                <img src="/assets/images/pj-logo.jpg" alt="" height="50" width="100">
            </span>
                <span class="logo-lg">
                <img src="/assets/images/pj-logo.jpg" alt="" height="50" width="100">
            </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <hr style="color: darkgray;">
                    <li class="nav-item">
                        <a href="/home" class="nav-link menu-link"  >
                            <i class="mdi mdi-speedometer"></i> <span data-key="t-projects">Dashboard</span>
                        </a>

                    </li>

                    <!--All Issues Rotate-->
                    <hr style="color: darkgray;">
                    <!--<li class="nav-item">

                        <a href="/all-issue-list" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Projects List</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>-->

                    <!--Projects Start-->
                    <li class="nav-item" >
                        <a href="/project/projects" class="nav-link menu-link" >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Projects</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>
                    <!--Projects End-->

                    <!--Projects Start-->
                   <!-- <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).PM}">
                        <a href="/project/my-projects" class="nav-link menu-link" >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">My Projects</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>-->
                    <!--Projects End-->

                    <!--Issues Start-->
                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).PM}">
                        <a href="#sidebarTasks" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTasks" >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-tasks">My Issues</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarTasks">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/issue-list" class="nav-link" data-key="t-kanbanboard"> Issue List </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/issueboard" class="nav-link" data-key="t-kanbanboard"> Issue Board </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/teamleader-progress-view" class="nav-link" data-key="t-list-view">Issue Status</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/project/my-projects" class="nav-link" data-key="t-list-view">My Projects</a>
                                </li>
                            </ul>
                        </div>
                        <hr style="color: darkgray;">
                    </li>
                    <!--Issues End-->
                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).TEAMLEADER}">
                        <a href="/teamleader-issuelist" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">My Issue List</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>
                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).TEAMLEADER}">
                        <a href="/teamleader-member-issuelist" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">My Issue Status</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>

                    <!--Team Leader Issues End-->
                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).MEMBER}">
                        <a href="/member-issueboard" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">My Issue Board</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>

                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).MEMBER}">
                        <a href="/member-issuelist" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">My Issue List</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>
                    <!--Members End-->
                    <!--Calendar Start-->

                    <!--Calendar End-->

                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).PMO or user.role == T(ai.group2.project_management_system.model.Enum.Role).PM}">
                        <a href="/user-management" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">User Management</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>
                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).PMO}">
                        <a href="/department" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Department Management</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>
                    <li class="nav-item" th:if="${user.role == T(ai.group2.project_management_system.model.Enum.Role).PMO || user.role == T(ai.group2.project_management_system.model.Enum.Role).PM }">
                        <a href="#sidebarTasks" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTasks" >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-tasks">Report</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarTasks">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/project-report" class="nav-link" data-key="t-kanbanboard"> Project Report </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/issue-report" class="nav-link" data-key="t-kanbanboard"> Issue Report </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/user-report" class="nav-link" data-key="t-list-view">User Report</a>
                                </li>


                            </ul>
                        </div>
                        <hr style="color: darkgray;">
                    </li>


                    <li class="nav-item" >
                        <a href="/calendar" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Calendar</span>
                        </a>
                        <hr style="color: darkgray;">
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>

        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

</div>
</body>
</html>