<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="navbar">
    <div class="app-menu navbar-menu">
        <!-- LOGO -->
        <div class="navbar-brand-box">
            <!-- Dark Logo-->

            <a href="index-2.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/assets/images/logo-sm.png" alt="" height="22">
            </span>
                <span class="logo-lg">
                <img src="/assets/images/logo-dark.png" alt="" height="17">
            </span>
            </a>
            <!-- Light Logo-->
            <a href="index-2.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="/assets/images/logo-sm.png" alt="" height="22">
            </span>
                <span class="logo-lg">
                <img src="/assets/images/logo-light.png" alt="" height="17">
            </span>
            </a>
            <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                <i class="ri-record-circle-line"></i>
            </button>
        </div>

        <div id="scrollbar">
            <div class="container-fluid">

                <div id="two-column-menu">
                </div>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                    <li class="nav-item">
                        <a href="/home" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Dashboard</span>
                        </a>

                    </li>
                    <!--Projects Start-->
                    <li class="nav-item">
                        <a href="/project/projects" class="nav-link menu-link" >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Projects</span>
                        </a>

                    </li>
                    <!--Projects End-->

                    <!--Issues Start-->
                    <li class="nav-item">
                        <a href="#sidebarTasks" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTasks" >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-tasks">Issues</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarTasks">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/issueboard" class="nav-link" data-key="t-kanbanboard"> Issue Board </a>
                                </li>
                                <li class="nav-item">
                                    <a href="issue_over_view.html" class="nav-link" data-key="t-list-view">Issue Over View </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/issue-list" class="nav-link" data-key="t-list-view">Issue List View </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <!--Issues End-->

                    <!-- Team Leader Issues Start-->
                    <li class="nav-item">
                        <a href="#teamleader" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTasks" >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-tasks">Team Leader</span>
                        </a>
                        <div class="collapse menu-dropdown" id="teamleader">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/teamleader-issuelist" class="nav-link" data-key="t-kanbanboard">Team Leader Issue List </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/teamleader-issueboard" class="nav-link" data-key="t-kanbanboard">Team Leader Issue Board </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/member-issuelist" class="nav-link" data-key="t-kanbanboard">Member Issue Progress</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <!--Team Leader Issues End-->

                    <!--Calendar Start-->
                    <li class="nav-item">
                        <a href="#sidebarCalendar" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarCalendar">
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-calender">Calendar</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarCalendar">
                            <ul class="nav nav-sm flex-column">
                                <li class="nav-item">
                                    <a href="/calendar" class="nav-link" data-key="t-main-calender"> Calender </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <!--Calendar End-->

                    <!--Members Start-->
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="#sidebarDashboardss" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                            <i class="mdi mdi-speedometer"></i> <span data-key="t-dashboards">Members</span>
                        </a>
                        <div class="collapse menu-dropdown" id="sidebarDashboardss">
                            <ul class="nav nav-sm flex-column">

                                <li class="nav-item">
                                    <a href="member_issue_board.html" class="nav-link" data-key="t-nft">Member Issue Board</a>
                                </li>
                                <li class="nav-item">
                                    <a href="member_issue_list_view.html" class="nav-link" data-key="t-job">Member Issue List View</a>
                                </li>
                                <li class="nav-item">
                                    <a href="member_issue_details.html" class="nav-link" data-key="t-job">Member Issue Details</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!--Members End-->
                    <hr style="color: darkgray;">
                    <li class="nav-item">
                        <a href="/user-management" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">User Management</span>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a href="/department" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Department Management</span>
                        </a>

                    </li>

                    <hr style="color: darkgray;">
                    <li class="nav-item">
                        <a href="/chat-list" class="nav-link menu-link"  >
                            <i class="mdi mdi-view-grid-plus-outline"></i> <span data-key="t-projects">Live Chat</span>
                        </a>

                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>

        <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

</div>
</body>
</html>